<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Editing Employee</h1>
      <div class="card shadow">
        <div class="card-body">
          <%= render 'form', employee: @employee %>
        </div>
      </div>
    </div>
  </div>
</div>
