<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Manage Employees', employees_path, class: 'btn btn-primary btn-lg' %>
    <% elsif current_user.employee? %>
      <%= link_to 'View Profile', employee_path(current_user.employee), class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% else %>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  <% end %>
</div>
